:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-color: #ffffff;
  --back-hero-footer-color: #2f303a;
  --back-team-color: #f5f4fa;
  --back-midle-color: #e5e5e5;
  --logo-color: #000000;
  --portfolio-photo-back-color: #eeeeee;
  --border-bc: #ececec;
  --icon-fill: #afb1b8;
  --section-client: #f5f5f5;
}

body {
  font-family: roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--hero-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

button {
  font-family: inherit;
}

img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* Header */
.header {
  border-bottom: 1px solid var(--border-bc);
}

.header .container {
  display: flex;
  align-items: center;
}
/* logo */

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo-black {
  color: var(--logo-color);
}
.logo-blue {
  color: var(--accent-color);
}

/* nav */
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list {
  gap: 50px;
}
.nav-list .link-current {
  color: var(--accent-color);
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.link-current {
  position: relative;
}

.link-current::after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 0px;
  top: 28px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;

  transform: translateY(42px);
}

/* contacts */

.cont-item {
  display: flex;
  align-items: center;
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cont-item:hover,
.cont-item:focus {
  color: var(--accent-color);
}

.cont-list-pict {
  align-content: center;
  margin-right: 10px;
  fill: currentColor;
}
.cont-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}

/* hero */

.hero {
  background-color: var(--back-hero-footer-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../css/Img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-head {
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--hero-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn-hero {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  color: var(--hero-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  height: 50px;
}

/* наши ценности */

.task-list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  gap: 30px;
}

.task {
  padding-top: 94px;
  padding-bottom: 94px;
}

.task-item {
  width: 270px;
}

.task-pic {
  margin-top: 0;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--back-team-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-fill);
}

.task-list-pict {
  margin: 25px 100px;
}

.details,
.punctuality,
.planning,
.tech {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.details-text,
.punctuality-text,
.planning-text,
.tech-text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primery-text-color);
  line-height: 1.71;
}

/* Чем мы занимаемся */

.wedo {
  margin-bottom: 94px;
  padding-top: 0;
}

.wedo-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.wedo-list {
  display: flex;
  gap: 30px;
}

.wedo-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.wedo-item {
  position: relative;
}
.over-block {
  position: absolute;
  justify-content: center;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 70px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  transform: translateY(-100%);
}

.over-block-title {
  margin-top: 0;
  margin-bottom: 0;
  align-self: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--hero-color);
}

/* Наша команда */

.team-list {
  display: flex;
  gap: 30px;
}

.image {
  margin-bottom: 30px;
  width: 270px;
}
.team-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--back-team-color);
}

.team-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  column-rule: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-item {
  background-color: var(--hero-color);
  width: calc((100% - 60px) / 4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 4px 4px;
}
.pd,
.fd,
.marc,
.des {
  margin-top: 0;
  margin-bottom: 10px;
  column-rule: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.pd-title,
.fd-title,
.mark-title,
.mark-title,
.des-title {
  margin-bottom: 0;
  margin-top: 0;
  color: var(--primery-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 16px 30px 32px;
}

.soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--hero-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-fill);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-list-pict {
  margin: 12px;
  fill: currentColor;
}

.soc-link:hover,
.soc-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* Наши клиенты */

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 0%;
}

.client-link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-fill);
  border-radius: 4px;
  background-color: var(--hero-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-fill);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-pict {
  margin: 16px 32px;
  fill: currentColor;
}

.client-link:hover,
.client-link:focus {
  border-color: 1px var(--accent-color);
  color: var(--accent-color);
}

/* footer */
.footer {
  background-color: var(--back-hero-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo {
  display: inline-block;
}

.footer .container .logo {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-right: 0;
}
.cont-list-foot {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.cont-list-foot .mail-f {
  margin-bottom: 9px;
}

.white-logo {
  color: var(--hero-color);
  font-family: 'Raleway' sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.sity-street {
  color: var(--hero-color);
  font-style: normal;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 9px;
}

.address {
  width: 231px;
  height: 81px;
}
.mail-f {
  margin-bottom: 9px;
}

.fot-soc-block {
  align-items: baseline;
  display: flex;
}

.fot-soc-link {
  margin-left: 70px;
}

.fot-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: var(--hero-color);
  margin-bottom: 20px;
  margin-top: 0;
}

.down-list {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.down-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--hero-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.down-link .down-link-pict {
  margin: 12px;
  fill: currentColor;
}

.down-link:hover,
.down-link:focus {
  background-color: var(--accent-color);
}

.porfolio {
  color: var(--back-midle-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.fot-block {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

.fot-label {
  margin: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-color);
}
.fot-input {
  width: 358px;
  height: 50px;
  margin-top: 20px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--back-hero-footer-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.fot-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.wrap-batton {
  margin-left: 10px;
}

.fot-button {
  display: flex;
  align-items: center;
  min-width: 200px;
  height: 50px;
  padding-left: 28px;
  border-radius: 4px;
  border: none;
  color: var(--hero-color);
  background-color: rgba(24, 140, 232, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.but-svg {
  margin-left: 10px;
}

/* button-portfolio */

.button-portfolio {
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.button-portfolio-item {
  padding: 6px 22px;
  margin-bottom: 0;
  color: var(--title-text-color);
  background-color: var(--back-team-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio-item:hover,
.button-portfolio-item:focus {
  color: var(--back-team-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Examples */

.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.imgp {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.imgp:hover,
.imgp:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.work-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.work-item {
  width: calc((100% - 60px) / 3);
}

.work-pretitle .work-title {
  margin-left: 24px;
  margin-right: 24px;
}

.work-pretitle {
  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 0;

  padding-right: 0;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-title {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.work-item {
  background-color: var(--hero-color);
}

.border-title {
  border-bottom: 1px solid var(--portfolio-photo-back-color);
  border-left: 1px solid var(--portfolio-photo-back-color);
  border-right: 1px solid var(--portfolio-photo-back-color);
  padding: 20px 24px;
}

.over {
  position: relative;
  overflow: hidden;
}

.over::after {
  display: inline-block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
  z-index: 1;
}

.over-text {
  position: absolute;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #f5f5f5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.imgp:hover .over::after,
.imgp:hover .over-text {
  transform: translateY(-100%);
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal {
  position: absolute;
  width: 528px;
  padding: 40px;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  background-color: var(--hero-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal {
  position: absolute;
  display: inline-flex;
  transform: translateY(-40px);
  margin: 11px 8px 2px 450px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-modal:focus {
  border: 1px solid var(--accent-color);
}

.mod-svg {
  align-self: center;
}

.mod-svg:hover,
.mod-svg:focus {
  fill: var(--accent-color);
}

.mod-form {
  width: 448px;
}

.form-title {
  margin-top: 0px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-cont-list {
  display: flex;

  flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
}

.form-cont {
  margin-top: 10px;
  margin-bottom: 4px;
}

.input-label {
  position: relative;
}

.form-pict {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}

.form-check {
  margin-top: 20px;
  margin-bottom: 0px;
}

.form-cont label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
}
.form-input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-input:focus {
  border: 1px solid var(--accent-color);
}

.form-input:focus + .form-pict {
  fill: var(--accent-color);
}

.form-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
}
.form-text:focus {
  border: 1px solid var(--accent-color);
}

.form-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  appearance: none;
}

.checkbox:checked + .checkbox-pict {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.checkbox:focus + .checkbox-pict {
  border-color: var(--accent-color);
}

.checkbox-pict {
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
}

.check-agre {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  align-items: center;
  justify-content: center;
}

.checkbox-text {
  margin: 0px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 1);
}

.form-link {
  margin-left: 7px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(33, 150, 243, 1);
}

.form-button {
  display: block;
  min-width: 200px;
  height: 50px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  border-radius: 4px;
  border: none;
  color: var(--hero-color);
  background-color: rgba(24, 140, 232, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
